services:
  app:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: portfolio
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      ORIGIN: "https://combe.tf"
    networks:
      - web

networks:
  web:
    external: true